$vw_30: 30vw;
$width_500px: 500px;
$form_shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
  0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
$border_radius: 8px;
$payment_message_color: #697386;
$padding_42px: 2.625rem;

// basics

$font-medium: 16px;
$line-height-medium: 20px;
$small: 12px;
$medium: 16px;
$large: 24px;
$xxxs: 4px;
$font-family: Arial, sans-serif;

// colors
$black: #000000;
$white: #ffffff;
$very-light-black: #00000012;
$light-grey: #d3d3d3;
$low-opacity-light-grey: #d3d3d3a8;
$blue: #5469d4;
$dark-blue: #0069d9;
$green: #28a745;
$dark-grey: #9d9d9d;

// font-weight

$font-weight-600: 600;

//Theme white
$white-theme-border: 2px solid rgba(13, 15, 23, 0.1);
$white-theme-dark-color: #0d0f17;
$white-theme-green-color: #0099a5;
$white-theme-alpha-bg: rgba(13, 15, 23, 0.07);
$white-theme-alpha-bg-2: rgba(13, 15, 23, 0.3);
$white-light-gradient: linear-gradient(
  180deg,
  #f5f7fa 0%,
  rgba(245, 247, 250, 0.5) 100%
);
